body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-class{
  padding: 0 5%;
  padding-top: 40px;
}

/* ribbon behind login form below the navbar */
.login{
  /* background-image: url("https://prods3.imgix.net/images/articles/2016_02/Hero-Dinner-Party.jpg"); */
  /* background-image: url("http://www.mfma.org/resources/Pictures/Cottage%20Foods%20Images/cottage%20food%20jams.jpg"); */
  /* background-image: url("https://i.pinimg.com/736x/df/5e/e0/df5ee0f6b7aa0010d808a011bfdebeaf--outdoor-dinner-parties-summer-dinner-parties.jpg"); */
/* background: linear-gradient(green, black); */
  width: 15%;

  /* color: white; */
}
/* .baker-map-container{
padding-top: 100px;
width: 100%;
} */

.description-box{
  width: 600px;
}

.map{
    overflow:visible;
    min-height: 300px;
    max-height: 500px;
    max-width: 800px;

    margin-top: 50px;
    /* position: fixed; */
}

.baker-search-text{
  text-align: center;
  margin-top: 5px;
}
.navbar{
  position: sticky;
  top: 0;
}

/* navbar background */
.ui.inverted.segment.buttons{
width: 100%;
left:0;
right:0;
padding-left: 27.5%;
padding-right: 17.5%;
/* background: linear-gradient(green, black); */
/* url('file:///Users/username/Desktop/background.png') */
/* background-image: url("https://i.pinimg.com/736x/df/5e/e0/df5ee0f6b7aa0010d808a011bfdebeaf--outdoor-dinner-parties-summer-dinner-parties.jpg"); */
background-image: url("https://prods3.imgix.net/images/articles/2016_02/Hero-Dinner-Party.jpg");
background-size: cover;

/* background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjttteUp7zYAhUNct8KHbUTAyAQjRwIBw&url=https%3A%2F%2Fwww.pinterest.com%2Ffeastie%2Fthe-ultimate-dinner-party%2F&psig=AOvVaw04bgCS163_kqvZCdwWLGZn&ust=1515085887823240"); */
}

.column {
    float: left;
    padding: 10px;
}


.map-width-fix{
  width: 350px
}

.description-input{
  width:250px;
}
.select-box {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   width: 150px;
}

/* background for login*/
.ui.login-menu.menu{
  /* background-color: white; */
  /* background-image: url("http://www.mfma.org/resources/Pictures/Cottage%20Foods%20Images/cottage%20food%20jams.jpg"); */

  background-image: url("https://i.pinimg.com/736x/df/5e/e0/df5ee0f6b7aa0010d808a011bfdebeaf--outdoor-dinner-parties-summer-dinner-parties.jpg");
  background-size: cover;

}
.a.left.item {
  text-align: left;
  color: blue;
}

.map-key{
  padding-left: 10px;
  border: 1px solid black;
  width: 29.5%;
  margin-left: 37.5%;
  margin-right: 37.5%;
}

.map-key > div > div {
  display: inline-block;
  border: 1px solid black;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}


/*cottagefoodmap.js - colors for map key*/
.key-blue{
  background-color: blue;
}
.key-purple{
  background-color: purple;
}
.key-red{
  background-color: red;
}
.key-green{
  background-color: green;
}


/*splitting out the map*/
.map-baker-search{
  width: 75%;
  height: 300px;
  float: right;
}
.user-links{
  width: 10%;

}

.opacity{
  background-color: rgba(0, 0, 0, 0.3) !important;
}


.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}
